# Parallel run
name: react-sample-app-test
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
      - name: Install nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: |
          cd ./react-sample-app
          npm ci
      - name: Run tests
        run: |
          cd ./react-sample-app
          npm test
  deploy:
    needs: test #This make this job to be in sequential order
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
      - name: Install nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: |
          cd ./react-sample-app
          npm ci
      - name: Build Project
        run: |
          cd ./react-sample-app
          npm run build
      - name: Deploy
        run: echo "Fake Deployment.."
